.nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    font-size: 30px;
    background-color: #2C2C2C;
    color: rgb(211, 211, 211);

}
.item_nav{
    list-style-type: none;
}
.title{
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.li{
    padding-top: 5px;
    width: 25%;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}