
.Title{
    position: relative;
    font-family: 'Roboto Mono', monospace;
    left: 75px;
    margin: 40px 0px;
   
}

.Title::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #3fbffa;
    transition: width 500ms ease;

}

.Title:hover{
    transition: 100ms ease;
    cursor: pointer;

}

.Title:hover::after{
    width: 99%;
}


input{
    width: 280px;
    margin-right: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid rgb(161, 161, 161);
    padding:0px 20px;
}

button{
    border-radius: 10px;
    padding: 5px 10px;
    width: 110px;
    background-color: rgb(48, 48, 48);
    color: white;
}
.Cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.mid{
    margin-bottom: 30px;
}
.align-bottom{
    margin-bottom: 30px;
}